.promo {
  min-height: 650px;
  padding: 21px 0 90px 0;
  background: url("../../img/bg.png") center center/cover no-repeat;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 98px;
}

.promo__header {
  color: #FFF;
  text-align: right;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
}

.promo__subheader {
  color: #FFF;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.promo__icons {
  margin-top: 60px;
  width: 425px;
  display: flex;
  justify-content: space-between;
}

.promo__icon {
  width: 136px;
  text-align: center;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.promo__link {
  margin-top: 10px;
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.promo__link a {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
